*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

h1 {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead tr th {
    font-size: 1rem;
    font-weight: 800;
}

thead tr th,
td {
    border-bottom: 1px solid black;
    padding: 0.5rem 0;
}

th:first-child,
th:nth-of-type(2),
td:first-child,
td:nth-of-type(2) {
    text-align: left;
}

.toggle-btn {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.status-read {
    background-color: #4caf50;
}

.status-unread {
    background-color: #f44336;
}


.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#add-book-button {
    margin-top: 1rem;
}

#form {
    width: 300px;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem auto;
}

#form h2 {
    font-weight: 800;
    margin-bottom: 1rem;
}

#book-form {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 15px;
    align-items: center;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input#read {
    justify-self: flex-start;
}

.form-buttons {
    grid-column: 1 / -1;
    display: flex;
    gap: 10px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
}